@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  color: #e11e63;
}

.container {
  max-width: 95%;
  margin: auto;
}

@media only screen and (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}
